<footer id="piePagina"> <!--Corregir en modo responsive menu hamburguesa-->
    <i id="copy">&copy; 2023 <%= title %></i>
    <span id="telf">
        <h4>Telf:</h4>
        <a href="https://es.wikipedia.org/wiki/N%C3%BAmeros_de_tel%C3%A9fono_de_Espa%C3%B1a#:~:text=El%20prefijo%20telef%C3%B3nico%20internacional%20de%20Espa%C3%B1a%20es%20%2B34.">
        +34</a>123 456 789
    </span>
    <span id="policy">
        <h4>Avisos legales:</h4>
        <a href="#">Política de cookies</a>
    </span>
    <span id="media">
        <h4>Redes sociales:</h4>
        <a href="#">Red social</a>
    </span>
</footer>