<header id="menu-nav">
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn" id="check"><i class="fas fa-bars"></i></label>
        <div class="caja-logo">
            <%- include('./logo.ejs') %>
        </div>
        <ul>
        <li><a href="/"><mark>Home</mark></a></li>
        <li><a href="/about"><mark>About</mark></a></li>
        <li><a href="/contact"><mark>Contact</mark></a></li>
    </ul>
    </nav>
</header>