<!DOCTYPE html>
<html lang="es-ES">
  <head>
    <title><%= title %>  | about</title>
    <%- include('partials/head.ejs') %>
  </head>
  <body>
    <main id="contendor-principal">
      <%- include('partials/navigation.ejs')  %>

            <section id="seccion-contenido">
              <br>
              <article>
                  <h1>About page already works !!!</h1>
                  <br>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione eius, distinctio suscipit dicta ullam recusandae reiciendis ex nobis neque repellat quibusdam, ipsa, explicabo rerum quod? Neque expedita debitis animi id.
                  Illo, fuga dolorem ad doloribus inventore minima nam earum aperiam ullam explicabo veritatis culpa aspernatur obcaecati officiis nobis dicta corporis dignissimos similique facilis officia recusandae consequatur eveniet dolor sed! Necessitatibus.
                  Eveniet vero hic accusamus minima adipisci saepe earum pariatur, expedita perspiciatis ipsa corporis a at tenetur sapiente totam quis sint itaque id voluptatibus corrupti numquam. Totam porro voluptatem vero et?
                  Eius magni recusandae at, similique debitis ipsum dicta ab ipsa facilis commodi id odit corrupti explicabo numquam veritatis voluptatum quia, deleniti quod corporis tempora. Dolorem quidem nobis laboriosam saepe voluptate?
                  Magnam atque fugiat natus culpa sapiente officiis dolores blanditiis, eveniet quam aperiam cumque, maiores placeat nostrum vero quisquam necessitatibus odio similique quasi sunt illum non ea! Eligendi aut maxime facere!</p>
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus repudiandae ut praesentium, beatae sint ratione, qui eum ex cumque sapiente, vitae dicta autem voluptatum possimus quod at commodi. Suscipit, pariatur.
                  Nesciunt quia natus temporibus delectus quidem consequatur eius. Consequuntur, iusto asperiores molestiae necessitatibus laborum expedita modi eveniet impedit dolorem nobis voluptas cupiditate ab tenetur. Culpa vitae neque fugiat iste soluta!
                  Sed sapiente accusantium laborum magnam cumque iste dolore dolorem voluptate suscipit praesentium blanditiis ipsam tempora earum quam delectus, nesciunt nihil pariatur assumenda nobis eveniet. Itaque consequuntur animi velit est. Rem?</p>
              </article>
            </section>

      <%- include('partials/footer.ejs') %>
    </main>
  </body>
</html>
