<!DOCTYPE html>
<html lang="es-ES">
  <head>
    <title><%= title %>  | about</title>
    <%- include('partials/head.ejs') %>
  </head>
  <body>
    <main id="contendor-principal">
      <%- include('partials/navigation.ejs')  %>

            <section id="seccion-contenido">
              <br>
              <h1>About page already works !!!</h1>
            </section>

      <%- include('partials/footer.ejs') %>
    </main>
  </body>
</html>
