<!DOCTYPE html>
<html lang="es-ES">
  <head>
    <title><%= title %>  | contact</title>
    <%- include('partials/head.ejs') %>
  </head>
  <body>
    <%- include('partials/navigation.ejs')  %>
    <main id="contendor-principal">

            <section id="seccion-contenido">
                <article>
                  <h1>Contact page already works !!!</h1>
                </article>
            </section>
            <div class="container contact-form">
              <div class="contact-image">
                  <img src="https://image.ibb.co/kUagtU/rocket_contact.png"/>
              </div>
              <form method="post" action="/contact/email">
                  <h3>Contacta con nosotros</h3>
                 <div class="row">
                      <div class="col-md-6">
                          <div class="form-group">
                              <input type="text" name="remitente" class="form-control" placeholder="Remitente *" value=""/>
                          </div>
                          <div class="form-group">
                              <input type="text" name="destinatario" class="form-control" placeholder="Destinatario *" value=""/>
                          </div>
                          <div class="form-group">
                              <input type="text" name="asunto" class="form-control" placeholder="Asunto *" value=""/>
                          </div>
                          <div class="form-group">
                            <button type="submit" class="btn btn-primary m-2">Enviar</button>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="form-group">
                              <textarea name="mensaje" class="form-control" placeholder="Tu mensaje *" style="width: 100%; height: 150px;" ></textarea>
                          </div>
                      </div>
                  </div>
              </form>
  </div>
    </main>
    <%- include('partials/footer.ejs') %>
  </body>
</html>